body {
	background-color: #354551;
}
nav {
	background-color: #152B39;
	border-color: #152B39;
}
.white {
	color: #fff;
}
.boxhead {
	background-color: #F6F6F6;
	border-color: #F6F6F6;
	height: 50px;
}

.box {
	background-color: #fff;
	border-color: #fff;
	width: 70%;
	position: absolute;

}
.vcenter {
    display: block;
    vertical-align: middle;
}
th {
	font-size: 24px;
}
.login {
	background-color: #F2F2F2;
	border-color: #F2F2F2;
	border-radius: 4px;
	height: 450px;
}
.signup {
	background-color: #F2F2F2;
	border-color: #F2F2F2; 
	border-radius: 4px;
	height: 450px;
}
.vr {
    background-color:#fff;
}
